<p>
  <b>Promotion:</b>
  <%=h @offer_access.promotion %>
</p>

<p>
  <b>User:</b>
  <%=h @offer_access.user %>
</p>


<%= link_to 'Edit', edit_offer_access_path(@offer_access) %> |
<%= link_to 'Back', offer_accesses_path %>