<table>
<tr><th>
<%= render :partial=>"login" %>
</th>
<th>
<%= render :partial=>"mission" %>
</th>
</tr>
<tr>
<th colspan = 2>
<h2>Herbalife Successes</h2>
<%= unless @testimony.layout != "bottom" then render :partial=>"testimony_bottom" else render :partial=>"testimony_right" end %>
</th>
</tr>
</table>


<pre>
<%= @testimony.to_yaml %>
</pre>
