<p>
  <b>Promotion:</b>
  <%=h @offer_restriction.promotion %>
</p>

<p>
  <b>User:</b>
  <%=h @offer_restriction.user %>
</p>


<%= link_to 'Edit', edit_offer_restriction_path(@offer_restriction) %> |
<%= link_to 'Back', offer_restrictions_path %>